:root {
    --background-color: #E1AFD1;
    --background-light: #FFE6E6;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --primary-color: #100518;
    --text-color: #5e1bc2;
    --text-light: #824D74;
    --font-size: 16px;
    --animation-speed: 1;
}

@function getAnimationDuration($duration: number) {
    @return calc($duration*var(--animation-speed));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-size);
    font-family: "Nixie One", system-ui;

}

a {
    text-decoration: none;
}

@import "../partials/navbar.scss";
@import "../partials/header.scss";
@import "../partials/chiefSectiom.scss";

.main {
    padding-block: 3vw;
}

.container {
    padding-inline: 6vw;
}

@import "../partials/animations";

@media screen and (max-width: 768px) {
    .navbar {
        .logo {
            font-size: 1.2em;
        }

        .nav-links {
            display: none;
        }

        .sidebar-btn {
            display: block;
        }
    }
}

@import "../partials/header"