.calory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    h1 {
        font-weight: bold;
        margin-top: 60px;

    }

    p {
        margin-top: 40px;
        font-size: 24px;
        color: blueviolet;

    }

    .photo {
        margin-top: 30px;

        height: 850px;
        width: 850px;
    }
}