h1 {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 24px;
    color: blueviolet;
    font-weight: bold;
}

.photo {
    margin-left: 400px;
    height: 650px;
    width: 650px;
}