.header {
    background-color: var(--background-light);
    margin-top: -80px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 1320px;


    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;

        img {
            display: flex;
            flex-direction: column;
            width: 200px;
            height: 200px;
        }

        .who {
            font-size: 1em;
        }


    }


    img {
        height: 550px;
        width: 800px;
    }

    .who {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        h1 {
            color: var(--text-color);
            font-size: 1.5rem;

        }

        p {
            margin: 20px;
            font-size: 1rem;
        }

    }

}