.header {
    background-color: var(--background-light);
    margin-top: -80px;
    margin-left: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 1320px;
    border: 2px solid var(--text-color);

    img {
        height: 550px;
        width: 800px;
    }

    .who {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        h1 {
            color: var(--text-color);
            font-size: 1.5rem;

        }

        p {
            margin: 20px;
            font-size: 1rem;
        }

    }

}