.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .signin {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;

            .form-group {
                margin-bottom: 15px;

                label {
                    margin-bottom: 5px;
                }

                input {
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }
            }

            button {
                padding: 10px;
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 5px;
                width: 222px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }

        p {
            margin-top: 15px;
            text-align: center;

            a {
                color: #007bff;
                text-decoration: none;
                font-weight: bold;
                transition: color 0.3s ease;

                &:hover {
                    color: #0056b3;
                }
            }
        }
    }
}