.register {
    text-align: center;


    .signup {
        margin-top: 80px;
        font-size: 18px;
        height: 500px;
        width: 500px;
        border-radius: 5px;

        p {
            margin-bottom: 25px;
            font-size: 22px;
        }

        button {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #3a3b3d;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #0056b3;
            }

            a {
                text-decoration: none;
                color: inherit; // Butonun içindeki metnin rengini kalıtı al
            }
        }
    }
}